##Class tif File Name and Path

Development Environment
<br/>xml Parsing
<br/>Detailed Class tif File Name Dataframe
<br/>Detailed Class tif File Path Dataframe
<br/>Class tif File Name Dataframe
<br/>Class tif File Path Dataframe
<br/>None Class tif File Name Dataframe
<br/>None Class tif File Path Dataframe

#Development Environment

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
import random
import pandas as pd
from pandas import option_context
from glob import glob
from termcolor import colored
import matplotlib.pyplot as plt
from IPython.display import HTML
from IPython.display import display

#xml Parsing

In [ ]:
def xml_file_list(xml_folder):
  label = glob(xml_folder+'/labelXml'+'/*')
  label = sorted(label, reverse=False)
  label = sorted(label, key=len)
  return label

In [ ]:
xml_folder_path = '/content/drive/MyDrive/Aiffelthon/eda/xml_data'
xml_folder_list = [xml_folder_path + '/train/train_part1_xml', xml_folder_path + '/train/train_part2_xml',
                   xml_folder_path + '/validation/vaildation_xml']

In [ ]:
for i in xml_folder_list:
  if 'train_part1' in i:
    train_part1_label = xml_file_list(i)
  elif 'train_part2' in i:
    train_part2_label = xml_file_list(i)
  elif 'validation' in i:
    validation_label = xml_file_list(i)

In [ ]:
train_label = train_part1_label + train_part2_label

In [ ]:
import xml.etree.ElementTree as ET
import xml.etree.ElementTree

tree = ET.parse(train_label[0])
root = tree.getroot()
ET.dump(tree)

<annotation>
	<source>
		<filename>0.tif</filename>
		<origin>GF2/GF3</origin>
	</source>
	<research>
		<version>1.0</version>
		<provider>FAIR1M</provider>
		<author>Cyber</author>
		<pluginname>FAIR1M</pluginname>
		<pluginclass>object detection</pluginclass>
		<time>2021-07-21</time>
	</research>
	<size>
		<width>1500</width>
		<height>1500</height>
		<depth>3</depth>
	</size>
	<objects>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Liquid Cargo Ship</name>
			</possibleresult>
			<points>
				<point>1275.000000,458.000000</point>
				<point>1494.000000,88.000000</point>
				<point>1417.000000,43.000000</point>
				<point>1199.000000,414.000000</point>
				<point>1275.000000,458.000000</point>
			</points>
		</object>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Passenger Ship</name>
			</possibleresult>
			<points>
				<point>630.000000,403.000000</point>
				<point>586.000000,385.000000</point>
				<point>582.000000,397.000000</point>
				<point>625.000000,414.000000</point>
				<point>630.000000,403.000000</point>
			</points>
		</object>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Dry Cargo Ship</name>
			</possibleresult>
			<points>
				<point>591.000000,1531.000000</point>
				<point>761.000000,1377.000000</point>
				<point>718.000000,1332.000000</point>
				<point>549.000000,1486.000000</point>
				<point>591.000000,1531.000000</point>
			</points>
		</object>
	</objects>
</annotation>

In [ ]:
print(root[0][0].tag, root[0][0].text)
for i in root[3]:
  for child in i[3]:
    print(child.tag, child.text)

filename 0.tif
name Liquid Cargo Ship
name Passenger Ship
name Dry Cargo Ship

In [ ]:
print(root[0][0].text)
for i in root[3]:
  for child in i[3]:
    if 'Truck' in child.text or 'Tractor' in child.text or 'Excavator' in child.text \
    or 'Trailer' in child.text or 'Van' == child.text or 'Car' == child.text or 'other-vehicle' == child.text:
      print('vehicle')
    elif 'Ship' in child.text or 'boat' in child.text or 'Boat' in child.text \
    or 'Warship' == child.text or 'other-airplane' == child.text:
      print('ship')   
    elif 'A2' in child.text or 'A3' in child.text or 'Boeing' in child.text \
    or 'ARJ21' == child.text or 'C919' == child.text or 'other-airplane' == child.text:
      print('airplane')

0.tif
ship
ship
ship

#Detailed Class tif File Name Dataframe

In [ ]:
def detailed_class_init():
  detailed_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor', 'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle',
                         'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship',
                         'A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']
  # vehicle
  dump_truck_tif_file_list = []; cargo_truck_tif_file_list = []; truck_tractor_tif_file_list = []
  tractor_tif_file_list = []; excavator_tif_file_list = []; trailer_tif_file_list = []; van_tif_file_list = []
  small_car_tif_file_list = []; bus_tif_file_list = []; other_vehicle_tif_file_list = []
  
  # ship
  dry_cargo_ship_tif_file_list = []; liquid_cargo_ship_tif_file_list = []; motorboat_tif_file_list = []; fishing_boat_tif_file_list = []
  tug_boat_tif_file_list = []; engineering_ship_tif_file_list = []; warship_tif_file_list = []; passenger_ship_tif_file_list = []; other_ship_tif_file_list = []

  # airplane
  a220_tif_file_list = []; a321_tif_file_list = []; a330_tif_file_list = []; a350_tif_file_list = []
  boeing737_tif_file_list = []; boeing747_tif_file_list = []; boeing777_tif_file_list = []; boeing787_tif_file_list = []
  arj21_tif_file_list = []; c919_tif_file_list = []; other_airplane_tif_file_list = []
  
  
  # detailed class
  detailed_class_tif_file_list = [dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list,
                                  trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, 
                                  dry_cargo_ship_tif_file_list, liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list,
                                  tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, passenger_ship_tif_file_list, other_ship_tif_file_list,
                                  a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, boeing747_tif_file_list,
                                  boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list]
                                  
  return detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
  trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
  liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
  passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
  boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def save_detailed_tif_file_name_csv(df_name, tif_file_list, number):
  globals()[df_name] = pd.DataFrame({'file':tif_file_list[number]})
  globals()[df_name].to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + df_name.split("_")[0] +'_detailed_class_tif_file_name/' + df_name + '.csv', index = False)

In [ ]:
def save_detailed_file_name_count_csv(folder_part):
  class_name_list = []
  tif_file_count_list = []
  
  csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'detailed_class_tif_file_name/' + '*.csv')
  
  for f in csv_files:
    df = pd.read_csv(f)
    class_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[1:-3])
    class_name_list.append(class_name)
    tif_file_count = len(df)
    tif_file_count_list.append(tif_file_count)

  file_count_df = pd.DataFrame({'value':class_name_list, 'count':tif_file_count_list})

  reorder_list = ['dump truck', 'cargo truck', 'truck tractor', 'tractor', 'excavator', 'trailer', 
                  'van', 'small car', 'bus', 'other vehicle', 'dry cargo ship', 'liquid cargo ship',
                  'motorboat', 'fishing boat', 'tug boat', 'engineering ship', 'warship',
                  'passenger ship', 'other ship', 'a220', 'a321', 'a330', 'a350', 'boeing737',
                  'boeing747', 'boeing777', 'boeing787', 'arj21', 'c919', 'other airplane']

  sorterIndex = dict(zip(reorder_list, range(len(reorder_list))))
  file_count_df['order'] = file_count_df['value'].map(sorterIndex)
  file_count_df.sort_values(['order', 'value', 'count'], ascending = [True, True, True], inplace = True)
  file_count_df.drop('order', axis = 1, inplace = True)

  file_count_df = file_count_df.reset_index()
  del file_count_df['index']
  file_count_df = file_count_df[:-1]

  file_count_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'detailed_class_tif_file_name/' + 'file_count_df.csv', index = False)

In [ ]:
def detailed_class_tif_file_name(label, class_list, tif_file_list):
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    for j in class_list:
      list_index = class_list.index(j)         
      for k in root[3]:
        for child in k[3]:
          if child.text == class_list[list_index]:
            if root[0][0].text not in tif_file_list[list_index]:
              tif_file_list[list_index].append(root[0][0].text)

  for i in range(len(tif_file_list)):
    df_name = [k for k,v in globals().items() if id(v) == id(tif_file_list[i])][0].replace('list', 'df')
    if 'train' in namestr(label, globals())[0]:
      df_name = 'train_' + df_name 
    elif 'validation' in namestr(label, globals())[0]:
      df_name = 'validation_' + df_name 
    save_detailed_tif_file_name_csv(df_name, tif_file_list, i)

  if 'train' in namestr(label, globals())[0]:
    save_detailed_file_name_count_csv('train_')
  elif 'validation' in namestr(label, globals())[0]:
    save_detailed_file_name_count_csv('validation_')

namestr(label, globals())[ 0 ]이거나 namestr(label, globals())[ 1 ]이다.
<br/>train_label, validation_label에 따라 다르다.

In [ ]:
detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list \
= detailed_class_init()

detailed_class_tif_file_name(train_label, detailed_class_list, detailed_class_tif_file_list)

In [ ]:
detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list \
= detailed_class_init()

detailed_class_tif_file_name(validation_label, detailed_class_list, detailed_class_tif_file_list)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_name/' + '*.csv')
  
count = 0
random_numbers = random.sample(range(1, len(csv_files)), 3)
for f in csv_files:
    count += 1
    for random_number in random_numbers:
      if count == random_number:
        df = pd.read_csv(f)
        file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[1:-3])
        if file_name == 'an':
          print(f.split("/")[-1].strip(".csv"))
        print(colored(file_name, attrs=['bold']))
        print()
        pd.set_option('display.max_rows', 10)
        display(df)
        print("\n" * 2)

boeing737

           file
0       268.tif
1       274.tif
2       324.tif
3       333.tif
4       365.tif
...         ...
1799  16453.tif
1800  16478.tif
1801  16480.tif
1802  16483.tif
1803  16487.tif

[1804 rows x 1 columns]

tug boat

          file
0       36.tif
1       38.tif
2       82.tif
3      101.tif
4      109.tif
..         ...
547  16186.tif
548  16270.tif
549  16274.tif
550  16350.tif
551  16407.tif

[552 rows x 1 columns]

van

           file
0         1.tif
1         6.tif
2         8.tif
3        15.tif
4        16.tif
...         ...
6154  16472.tif
6155  16475.tif
6156  16479.tif
6157  16482.tif
6158  16484.tif

[6159 rows x 1 columns]

In [ ]:
f = '/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_name/file_count_df.csv'
file_count_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_name/file_count_df.csv')
file_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[:-1])
if file_name == 'an':
  print(f.split("/")[-1].strip(".csv"))
print(colored(file_name, attrs=['bold']))
print()
pd.set_option('display.max_rows', None)
display(file_count_df)

file count

                value  count
0          dump truck   4997
1         cargo truck   2447
2       truck tractor    123
3             tractor     89
4           excavator    393
5             trailer    316
6                 van   6159
7           small car   6092
8                 bus    511
9       other vehicle   1201
10     dry cargo ship   2431
11  liquid cargo ship   1308
12          motorboat   1115
13       fishing boat    646
14           tug boat    552
15   engineering ship    601
16            warship    199
17     passenger ship    271
18         other ship    850
19               a220   2388
20               a321   1474
21               a330    922
22               a350    640
23          boeing737   1977
24          boeing747    965
25          boeing777    790
26          boeing787   1037
27              arj21    127
28               c919     98
29     other airplane   3379

#Detailed Class tif File Path Dataframe

In [ ]:
def detailed_class_init():
  detailed_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor', 'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle',
                         'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship',
                         'A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']
  # vehicle
  dump_truck_tif_file_list = []; cargo_truck_tif_file_list = []; truck_tractor_tif_file_list = []
  tractor_tif_file_list = []; excavator_tif_file_list = []; trailer_tif_file_list = []; van_tif_file_list = []
  small_car_tif_file_list = []; bus_tif_file_list = []; other_vehicle_tif_file_list = []
  
  # ship
  dry_cargo_ship_tif_file_list = []; liquid_cargo_ship_tif_file_list = []; motorboat_tif_file_list = []; fishing_boat_tif_file_list = []
  tug_boat_tif_file_list = []; engineering_ship_tif_file_list = []; warship_tif_file_list = []; passenger_ship_tif_file_list = []; other_ship_tif_file_list = []

  # airplane
  a220_tif_file_list = []; a321_tif_file_list = []; a330_tif_file_list = []; a350_tif_file_list = []
  boeing737_tif_file_list = []; boeing747_tif_file_list = []; boeing777_tif_file_list = []; boeing787_tif_file_list = []
  arj21_tif_file_list = []; c919_tif_file_list = []; other_airplane_tif_file_list = []
  
  
  # detailed class
  detailed_class_tif_file_list = [dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list,
                                  trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, 
                                  dry_cargo_ship_tif_file_list, liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list,
                                  tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, passenger_ship_tif_file_list, other_ship_tif_file_list,
                                  a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, boeing747_tif_file_list,
                                  boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list]
                                  
  return detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
  trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
  liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
  passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
  boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def save_detailed_tif_file_path_csv(df_name, tif_file_list, number):
  globals()[df_name] = pd.DataFrame({'file':tif_file_list[number]})
  globals()[df_name].to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + df_name.split("_")[0] +'_detailed_class_tif_file_path/' + df_name + '.csv', index = False)

In [ ]:
def save_detailed_file_path_count_csv(folder_part):
  class_name_list = []
  tif_file_count_list = []
  
  csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'detailed_class_tif_file_path/' + '*.csv')
  
  for f in csv_files:
    df = pd.read_csv(f)
    class_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[1:-3])
    class_name_list.append(class_name)
    tif_file_count = len(df)
    tif_file_count_list.append(tif_file_count)

  file_count_df = pd.DataFrame({'value':class_name_list, 'count':tif_file_count_list})

  reorder_list = ['dump truck', 'cargo truck', 'truck tractor', 'tractor', 'excavator', 'trailer', 
                  'van', 'small car', 'bus', 'other vehicle', 'a220', 'a321', 'a330', 'a350',
                  'dry cargo ship', 'liquid cargo ship', 'motorboat', 'fishing boat',
                  'tug boat', 'engineering ship', 'warship', 'passenger ship', 'other ship',
                  'boeing737', 'boeing747', 'boeing777', 'boeing787', 'arj21', 'c919', 'other airplane']

  sorterIndex = dict(zip(reorder_list, range(len(reorder_list))))
  file_count_df['order'] = file_count_df['value'].map(sorterIndex)
  file_count_df.sort_values(['order', 'value', 'count'], ascending = [True, True, True], inplace = True)
  file_count_df.drop('order', axis = 1, inplace = True)

  file_count_df = file_count_df.reset_index()
  del file_count_df['index']
  file_count_df = file_count_df[:-1]

  file_count_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'detailed_class_tif_file_path/' + 'file_count_df.csv', index = False)

In [ ]:
def detailed_class_tif_file_path(label, class_list, tif_file_list):

  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    for j in class_list:
      list_index = class_list.index(j)         
      for k in root[3]:
        for child in k[3]:
          if child.text == class_list[list_index]:
            if 'train_' in namestr(label, globals())[0]:
              tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/' + root[0][0].text
              if tif_path not in tif_file_list[list_index]:
                tif_file_list[list_index].append(tif_path)
            elif 'validation' in namestr(label, globals())[0]:
              tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_val/' + root[0][0].text
              if tif_path not in tif_file_list[list_index]:
                tif_file_list[list_index].append(tif_path)

  for i in range(len(tif_file_list)):
    df_name = [k for k,v in globals().items() if id(v) == id(tif_file_list[i])][0].replace('list', 'df')
    if 'train' in namestr(label, globals())[0]:
      df_name = 'train_' + df_name 
    elif 'validation' in namestr(label, globals())[0]:
      df_name = 'validation_' + df_name 
    save_detailed_tif_file_path_csv(df_name, tif_file_list, i)

  if 'train' in namestr(label, globals())[0]:
    save_detailed_file_path_count_csv('train_')
  elif 'validation' in namestr(label, globals())[0]:
    save_detailed_file_path_count_csv('validation_')

namestr(label, globals())[ 0 ]이거나 namestr(label, globals())[ 1 ]이다.
<br/>train_label, validation_label에 따라 다르다.

In [ ]:
detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list \
= detailed_class_init()

detailed_class_tif_file_path(train_label, detailed_class_list, detailed_class_tif_file_list)

In [ ]:
detailed_class_list, dump_truck_tif_file_list, cargo_truck_tif_file_list, truck_tractor_tif_file_list, tractor_tif_file_list, excavator_tif_file_list, \
trailer_tif_file_list, van_tif_file_list, small_car_tif_file_list, bus_tif_file_list, other_vehicle_tif_file_list, dry_cargo_ship_tif_file_list, \
liquid_cargo_ship_tif_file_list, motorboat_tif_file_list, fishing_boat_tif_file_list, tug_boat_tif_file_list, engineering_ship_tif_file_list, warship_tif_file_list, \
passenger_ship_tif_file_list, other_ship_tif_file_list,a220_tif_file_list, a321_tif_file_list, a330_tif_file_list, a350_tif_file_list, boeing737_tif_file_list, \
boeing747_tif_file_list, boeing777_tif_file_list, boeing787_tif_file_list, arj21_tif_file_list, c919_tif_file_list, other_airplane_tif_file_list, detailed_class_tif_file_list \
= detailed_class_init()

detailed_class_tif_file_path(validation_label, detailed_class_list, detailed_class_tif_file_list)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_path/' + '*.csv')
  
count = 0
random_numbers = random.sample(range(1, len(csv_files)), 3)
for f in csv_files:
    count += 1
    for random_number in random_numbers:
      if count == random_number:
        df = pd.read_csv(f)
        file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[1:-3])
        if file_name == 'an':
          print(f.split("/")[-1].strip(".csv"))
        print(colored(file_name, attrs=['bold']))
        print()
        pd.set_option('display.max_rows', 10)
        with option_context('display.max_colwidth', None):
          display(df)
        print("\n" * 2)

excavator

                                                                                 file
0      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/100.tif
1      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/124.tif
2      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/143.tif
3      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/154.tif
4      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/172.tif
..                                                                                ...
388  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16302.tif
389  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16333.tif
390  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16430.tif
391  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16460.tif
392  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16484.tif

[393 rows x 1 columns]

a330

                                                                                 file
0       /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/49.tif
1      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/158.tif
2      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/254.tif
3      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/259.tif
4      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/388.tif
..                                                                                ...
917  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16415.tif
918  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16434.tif
919  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16435.tif
920  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16478.tif
921  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16486.tif

[922 rows x 1 columns]

a350

                                                                                 file
0      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/453.tif
1      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/760.tif
2      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/809.tif
3      /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/983.tif
4     /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/1223.tif
..                                                                                ...
635  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16434.tif
636  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16448.tif
637  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16473.tif
638  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16476.tif
639  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16481.tif

[640 rows x 1 columns]

In [ ]:
f = '/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_path/file_count_df.csv'
file_count_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_detailed_class_tif_file_path/file_count_df.csv')
file_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[:-1])
if file_name == 'an':
  print(f.split("/")[-1].strip(".csv"))
print(colored(file_name, attrs=['bold']))
print()
pd.set_option('display.max_rows', None)
with option_context('display.max_colwidth', None):
  display(file_count_df)

file count

                value  count
0          dump truck   4997
1         cargo truck   2447
2       truck tractor    123
3             tractor     89
4           excavator    393
5             trailer    316
6                 van   6159
7           small car   6092
8                 bus    511
9       other vehicle   1201
10     dry cargo ship   2431
11  liquid cargo ship   1308
12          motorboat   1115
13       fishing boat    646
14           tug boat    552
15   engineering ship    601
16            warship    199
17     passenger ship    271
18         other ship    850
19               a220   2388
20               a321   1474
21               a330    922
22               a350    640
23          boeing737   1977
24          boeing747    965
25          boeing777    790
26          boeing787   1037
27              arj21    127
28               c919     98
29     other airplane   3379

#Class tif File Name Dataframe

In [ ]:
def class_init():
  vehicle_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor','Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle']
  ship_class_list = ['Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship']
  airplane_class_list = ['A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']
  
  class_list = [vehicle_class_list, ship_class_list, airplane_class_list]

  vehicle_tif_file_list = []
  ship_tif_file_list = []
  airplane_tif_file_list = []

  class_tif_file_list = [vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list]

                                  
  return vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
  vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def save_tif_file_name_csv(df_name, tif_file_list, number):
  globals()[df_name] = pd.DataFrame({'file':tif_file_list[number]})
  globals()[df_name].to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + df_name.split("_")[0] +'_class_tif_file_name/' + df_name + '.csv', index = False)

In [ ]:
def save_file_name_count_csv(folder_part):
  class_name_list = []
  tif_file_count_list = []
  
  csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'class_tif_file_name/' + '*.csv')
  
  for f in csv_files:
    df = pd.read_csv(f)
    class_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[1:-3])
    class_name_list.append(class_name)
    tif_file_count = len(df)
    tif_file_count_list.append(tif_file_count)

  file_count_df = pd.DataFrame({'value':class_name_list, 'count':tif_file_count_list})
  
  reorder_list = ['vehicle', 'ship', 'airplane']

  sorterIndex = dict(zip(reorder_list, range(len(reorder_list))))
  file_count_df['order'] = file_count_df['value'].map(sorterIndex)
  file_count_df.sort_values(['order', 'value', 'count'], ascending = [True, True, True], inplace = True)
  file_count_df.drop('order', axis = 1, inplace = True)

  file_count_df = file_count_df.reset_index()
  del file_count_df['index']
  file_count_df = file_count_df[:-1]

  file_count_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'class_tif_file_name/' + 'file_count_df.csv', index = False)

In [ ]:
def class_tif_file_name(label, class_list, tif_file_list):

  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    for class_name in class_list:
      list_index = class_list.index(class_name)
      for detailed_class_name in class_name:         
        for k in root[3]:
          for child in k[3]:
            if child.text == detailed_class_name:
              if root[0][0].text not in tif_file_list[list_index]:
                tif_file_list[list_index].append(root[0][0].text)

  for i in range(len(tif_file_list)):
    df_name = [k for k,v in globals().items() if id(v) == id(tif_file_list[i])][0].replace('list', 'df')
    if 'train' in namestr(label, globals())[0]:
      df_name = 'train_' + df_name 
    elif 'validation' in namestr(label, globals())[0]:
      df_name = 'validation_' + df_name 
    save_tif_file_name_csv(df_name, tif_file_list, i)

  if 'train' in namestr(label, globals())[0]:
    save_file_name_count_csv('train_')
  elif 'validation' in namestr(label, globals())[0]:
    save_file_name_count_csv('validation_')

namestr(label, globals())[ 0 ]이거나 namestr(label, globals())[ 1 ]이다.
<br/>train_label, validation_label에 따라 다르다.

In [ ]:
vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list \
= class_init()

class_tif_file_name(train_label, class_list, class_tif_file_list)

In [ ]:
vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list \
= class_init()

class_tif_file_name(validation_label, class_list, class_tif_file_list)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_name/' + '*.csv')
  
count = 0
random_numbers = random.sample(range(1, len(csv_files)), 3)
for f in csv_files:
    count += 1
    for random_number in random_numbers:
      if count == random_number:
        df = pd.read_csv(f)
        file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[1:-3])
        if file_name == 'an':
          print(f.split("/")[-1].strip(".csv"))
        print(colored(file_name, attrs=['bold']))
        print()
        pd.set_option('display.max_rows', 10)
        display(df)
        print("\n" * 2)

airplane

           file
0         2.tif
1         4.tif
2         5.tif
3         7.tif
4        19.tif
...         ...
5586  16481.tif
5587  16483.tif
5588  16485.tif
5589  16486.tif
5590  16487.tif

[5591 rows x 1 columns]

ship

           file
0         0.tif
1         6.tif
2         9.tif
3        10.tif
4        11.tif
...         ...
4403  16464.tif
4404  16465.tif
4405  16468.tif
4406  16470.tif
4407  16477.tif

[4408 rows x 1 columns]

vehicle

           file
0         1.tif
1         6.tif
2         8.tif
3         9.tif
4        15.tif
...         ...
6423  16472.tif
6424  16475.tif
6425  16479.tif
6426  16482.tif
6427  16484.tif

[6428 rows x 1 columns]

In [ ]:
f = '/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_name/file_count_df.csv'
file_count_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_name/file_count_df.csv')
file_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[:-1])
if file_name == 'an':
  print(f.split("/")[-1].strip(".csv"))
print(colored(file_name, attrs=['bold']))
print()
display(file_count_df)

file count

      value  count
0   vehicle   6428
1      ship   4408
2  airplane   5591

#Class tif File Path Dataframe

In [ ]:
def class_init():
  vehicle_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor','Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle']
  ship_class_list = ['Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship']
  airplane_class_list = ['A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']
  
  
  class_list = [vehicle_class_list, ship_class_list, airplane_class_list]

  vehicle_tif_file_list = []
  ship_tif_file_list = []
  airplane_tif_file_list = []
  

  class_tif_file_list = [vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list]

                                  
  return vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
  vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def save_tif_file_path_csv(df_name, tif_file_list, number):
  globals()[df_name] = pd.DataFrame({'file':tif_file_list[number]})
  globals()[df_name].to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + df_name.split("_")[0] +'_class_tif_file_path/' + df_name + '.csv', index = False)

In [ ]:
def save_file_path_count_csv(folder_part):
  class_name_list = []
  tif_file_count_list = []
  
  csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'class_tif_file_path/' + '*.csv')
  
  for f in csv_files:
    df = pd.read_csv(f)
    class_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[1:-3])
    class_name_list.append(class_name)
    tif_file_count = len(df)
    tif_file_count_list.append(tif_file_count)

  file_count_df = pd.DataFrame({'value':class_name_list, 'count':tif_file_count_list})

  reorder_list = ['vehicle', 'ship', 'airplane']

  sorterIndex = dict(zip(reorder_list, range(len(reorder_list))))
  file_count_df['order'] = file_count_df['value'].map(sorterIndex)
  file_count_df.sort_values(['order', 'value', 'count'], ascending = [True, True, True], inplace = True)
  file_count_df.drop('order', axis = 1, inplace = True)

  file_count_df = file_count_df.reset_index()
  del file_count_df['index']
  file_count_df = file_count_df[:-1]

  file_count_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/' + folder_part + 'class_tif_file_path/' + 'file_count_df.csv', index = False)

In [ ]:
def class_tif_file_path(label, class_list, tif_file_list):

  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    for class_name in class_list:
      list_index = class_list.index(class_name)
      for detailed_class_name in class_name:         
        for k in root[3]:
          for child in k[3]:
            if child.text == detailed_class_name:
              if 'train' in namestr(label, globals())[0]:
                tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/' + root[0][0].text
                if tif_path not in tif_file_list[list_index]:
                  tif_file_list[list_index].append(tif_path)
              elif 'validation' in namestr(label, globals())[0]:
                tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_val/' + root[0][0].text
                if tif_path not in tif_file_list[list_index]:
                  tif_file_list[list_index].append(tif_path)

  for i in range(len(tif_file_list)):
    df_name = [k for k,v in globals().items() if id(v) == id(tif_file_list[i])][0].replace('list', 'df')
    if 'train' in namestr(label, globals())[0]:
      df_name = 'train_' + df_name 
    elif 'validation' in namestr(label, globals())[0]:
      df_name = 'validation_' + df_name 
    save_tif_file_path_csv(df_name, tif_file_list, i)

  if 'train' in namestr(label, globals())[0]:
    save_file_path_count_csv('train_')
  elif 'validation' in namestr(label, globals())[0]:
    save_file_path_count_csv('validation_')

namestr(label, globals())[ 0 ]이거나 namestr(label, globals())[ 1 ]이다.
<br/>train_label, validation_label에 따라 다르다.

In [ ]:
vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list \
= class_init()

class_tif_file_path(train_label, class_list, class_tif_file_list)

In [ ]:
vehicle_class_list, ship_class_list, airplane_class_list, class_list, \
vehicle_tif_file_list, ship_tif_file_list, airplane_tif_file_list, class_tif_file_list \
= class_init()

class_tif_file_path(validation_label, class_list, class_tif_file_list)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_path/' + '*.csv')
  
count = 0
random_numbers = random.sample(range(1, len(csv_files)), 3)
for f in csv_files:
    count += 1
    for random_number in random_numbers:
      if count == random_number:
        df = pd.read_csv(f)
        file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[1:-3])
        if file_name == 'an':
          print(f.split("/")[-1].strip(".csv"))
        print(colored(file_name, attrs=['bold']))
        print()
        pd.set_option('display.max_rows', 10)
        with option_context('display.max_colwidth', None):
          display(df)
        print("\n" * 2)

vehicle

                                                                                  file
0         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/1.tif
1         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/6.tif
2         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/8.tif
3         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/9.tif
4        /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/15.tif
...                                                                                ...
6423  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16472.tif
6424  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16475.tif
6425  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16479.tif
6426  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16482.tif
6427  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16484.tif

[6428 rows x 1 columns]

ship

                                                                                  file
0         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/0.tif
1         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/6.tif
2         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/9.tif
3        /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/10.tif
4        /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/11.tif
...                                                                                ...
4403  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16464.tif
4404  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16465.tif
4405  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16468.tif
4406  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16470.tif
4407  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16477.tif

[4408 rows x 1 columns]

airplane

                                                                                  file
0         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/2.tif
1         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/4.tif
2         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/5.tif
3         /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/7.tif
4        /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/19.tif
...                                                                                ...
5586  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16481.tif
5587  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16483.tif
5588  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16485.tif
5589  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16486.tif
5590  /content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/16487.tif

[5591 rows x 1 columns]

In [ ]:
f = '/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_path/file_count_df.csv'
file_count_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/train_class_tif_file_path/file_count_df.csv')
file_name = ' '.join(s for s in f.split("/")[-1][:-4].split("_")[:-1])
if file_name == 'an':
  print(f.split("/")[-1].strip(".csv"))
print(colored(file_name, attrs=['bold']))
print()
with option_context('display.max_colwidth', None):
  display(file_count_df)

file count

      value  count
0   vehicle   6428
1      ship   4408
2  airplane   5591

#None Class tif File Name Dataframe

In [ ]:
def none_class_init():
  detailed_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor', 'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle',
                         'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship',
                         'A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']

  none_class_tif_file_list = [];
                                  
  return detailed_class_list, none_class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def none_class_tif_file_name(label, class_list, tif_file_list):

  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()    
    for j in root[3]:
      for child in j[3]:
        if child.text not in class_list:
          if root[0][0].text not in tif_file_list:
            tif_file_list.append(root[0][0].text)
            
  if 'train_' in namestr(label, globals())[0]:
    none_class_train_tif_file_name_df = pd.DataFrame({'file':tif_file_list})
    none_class_train_tif_file_name_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_tif_file_name_df.csv', index = False)
  if 'validation_' in namestr(label, globals())[0]:
    none_class_validation_tif_file_name_df = pd.DataFrame({'file':tif_file_list})
    none_class_validation_tif_file_name_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_tif_file_name_df.csv', index = False)

In [ ]:
detailed_class_list, none_class_tif_file_list = none_class_init()
none_class_tif_file_name(train_label, detailed_class_list, none_class_tif_file_list)

In [ ]:
detailed_class_list, none_class_tif_file_list = none_class_init()
none_class_tif_file_name(validation_label, detailed_class_list, none_class_tif_file_list)

In [ ]:
none_class_train_tif_file_name_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_tif_file_name_df.csv')
none_class_validation_tif_file_name_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_tif_file_name_df.csv')

In [ ]:
none_class_train_txt_file_name_df = none_class_train_tif_file_name_df.replace('tif', 'txt')
none_class_validation_txt_file_name_df = none_class_validation_tif_file_name_df.replace('tif', 'txt')

In [ ]:
none_class_train_txt_file_name_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_txt_file_name_df.csv', index = False)
none_class_validation_txt_file_name_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_txt_file_name_df.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class' +'*_tif_file_name_df.csv')
  
for f in csv_files:
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[2:-4])
  print(colored(file_name, attrs=['bold']))
  print()
  pd.set_option('display.max_rows', 10)
  display(df)
  print("\n" * 2)

train

           file
0         2.tif
1         3.tif
2         7.tif
3         8.tif
4        10.tif
...         ...
5515  16467.tif
5516  16472.tif
5517  16474.tif
5518  16482.tif
5519  16484.tif

[5520 rows x 1 columns]

validation

          file
0        2.tif
1        4.tif
2        6.tif
3       11.tif
4       15.tif
...        ...
2841  8273.tif
2842  8277.tif
2843  8281.tif
2844  8284.tif
2845  8285.tif

[2846 rows x 1 columns]

#None Class tif File Path Dataframe

In [ ]:
def none_class_init():
  detailed_class_list = ['Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor', 'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle',
                         'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship',
                         'A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']

  none_class_tif_file_list = [];
                                  
  return detailed_class_list, none_class_tif_file_list

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [ ]:
def none_class_tif_file_path(label, class_list, tif_file_list):

  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()    
    for j in root[3]:
      for child in j[3]:
        if child.text not in class_list:
          if 'train_' in namestr(label, globals())[0]:
            tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_train/' + root[0][0].text
            if tif_path not in tif_file_list:
              tif_file_list.append(tif_path)
          elif 'validation_' in namestr(label, globals())[0]:
            tif_path = '/content/drive/MyDrive/Aiffelthon/mmrotate/data/fair1m2.0/images_val/' + root[0][0].text
            if tif_path not in tif_file_list:
              tif_file_list.append(tif_path)              

  if 'train_' in namestr(label, globals())[0]:
    none_class_train_tif_file_path_df = pd.DataFrame({'file':tif_file_list})
    none_class_train_tif_file_path_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_tif_file_path_df.csv', index = False)
  elif 'validation_' in namestr(label, globals())[0]:
    none_class_validation_tif_file_path_df = pd.DataFrame({'file':tif_file_list})
    none_class_validation_tif_file_path_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_tif_file_path_df.csv', index = False)

In [ ]:
detailed_class_list, none_class_tif_file_list = none_class_init()
none_class_tif_file_path(train_label, detailed_class_list, none_class_tif_file_list)

In [ ]:
detailed_class_list, none_class_tif_file_list = none_class_init()
none_class_tif_file_path(validation_label, detailed_class_list, none_class_tif_file_list)

In [ ]:
none_class_train_tif_file_path_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_tif_file_path_df.csv')
none_class_validation_tif_file_path_df = pd.read_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_tif_file_path_df.csv')

In [ ]:
none_class_train_txt_file_path_df = none_class_train_tif_file_path_df.replace('tif', 'txt')
none_class_validation_txt_file_path_df = none_class_validation_tif_file_path_df.replace('tif', 'txt')

In [ ]:
none_class_train_txt_file_path_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_train_txt_file_path_df.csv', index = False)
none_class_validation_txt_file_path_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class_validation_txt_file_path_df.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/class_tif_file_name_path/none_class' +'*_tif_file_path_df.csv')
  

for f in csv_files:
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1][1:-4].split("_")[1:-3])
  if file_name == 'an':
    print(f.split("/")[-1].strip(".csv"))
    print(colored(file_name, attrs=['bold']))
    print()
    pd.set_option('display.max_rows', 10)
    with option_context('display.max_colwidth', None):
      display(df)
      print("\n" * 2)